<!DOCTYPE html>
<html>
  <head>
    <title>Help | Twattter</title>
  </head>
  <body>
    <h1>Help</h1>
    <p>
      Are you really stupid enough to have to click on the help link?
    </p>
  </body>
</html>